<div style="margin-top: 50px;">
<h3 class="first">New Entry
</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input style="padding: 5px;" type="text" [(ngModel)]="entry.name" pInputText placeholder="Name">         
        </div>
    </div>
    
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fas fa-phone"></i></span>
            <input style="padding: 5px;" type="text" [(ngModel)]="entry.number" pInputText placeholder="Phone Number">   
          
        </div>
    </div>
            
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fas fa-sticky-note"></i></span>
            <input style="padding: 5px;" type="text" [(ngModel)]="entry.notes" pInputText placeholder="Notes">      
        </div>
    </div>
</div>
<div class="ui-g-12 ui-md-12">
        <button pButton type="button" label="Add"  iconPos="left" (click)="addEntry($event)"></button>
    </div>
<br/>
<br/>
<h3 class="first">Phone Book
</h3>
  <p-table #dt [columns]="cols" [value]="entries" selectionMode="single" [paginator]="true" [rows]="20">
    <ng-template pTemplate="caption">
            <div style="text-align: left">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'number'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'notes'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData" [pSelectableRow]="rowData">
            <td pEditableColumn *ngFor="let col of columns">
               <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData[col.field]">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- <td style="text-align:center">
                    <button *ngIf="!editing"  pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)">Edit</button>
                    <button *ngIf="editing"  pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)">Save</button>
                    <button *ngIf="editing"  pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)">Cancel</button>
                </td> -->
        </tr>
    </ng-template>
</p-table>
</div>



